name: Automated Sleep Disorder Dataset Preprocessing

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: write 

jobs:
  preprocess:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python 3.12.7
        uses: actions/setup-python@v5
        with:
          python-version: "3.12.7"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Preprocessing Script
        run: python preprocessing/automate_Vanessa_Audrie.py

      - name: Commit and Push the Changes
        run: |
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"

          git add preprocessing/Sleep_health_and_lifestyle_dataset_preprocessing/*
          git diff --cached --quiet || git commit -m "chore: Auto preprocess sleep disorder dataset at $(date)"
          git push https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }} HEAD:${{ github.ref }}
